.ccm-gallery tbody tr td p{
	text-align:center;
}
.ccm-gallery {
	margin-top: 12px;
	border: 2px solid #dedede;
	padding: 12px 0px 0px 0px;
}
.ccm-gallery tbody tr td{
	vertical-align:middle;
	text-align:center;
}
.ccm-gallery tbody tr td img{
	display:block;
	margin:auto;
	margin-bottom:10px;
	cursor:pointer;
}

.text-item {
	display: block;
	float: left;
	margin: 0;
	padding: 10px 10px 0 10px !important;
	/*font-family: Times, 'Times New Roman', Georgia, Serif; */
	/*font-size:75px; */
	/*font-weight: bold; */
	/*background-color: #fff; */
	color: #000;
	white-space: nowrap;
}

.makeMeScrollableLoader { text-align: center; }